<div class="col-md-12">
	<div class="panel panel-default main">
		<div class="panel-body">
			<h2 class="todo_list_title">Create a list brah!</h2>
			<br />
			<p class="todo_list_sub_title">Hey Brah, time to create some lists. <br />Create an account or sign in.</p>
			<div class="links">
			  <%= link_to "Create Account", new_user_registration_path %> |
			  <%= link_to "Login", new_user_session_path %>
			</div>
		</div>
	</div>
</div>